*{
    margin: 0;
    padding: 0;
}

#ext{
    background-color: brown;
}
/* .p1{
    background-color: black;
} */
.button
{
    margin-left: 20%;
    background-color: rgb(137, 188, 83);
    cursor: pointer;
    transition: 2s;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    /* background-image: url('https://cdn.pixabay.com/photo/2017/01/31/21/23/avatar-2027366__340.png'); */
}


.button:hover{
    background-color: rgb(39, 29, 183);
}
#img{
    height: 30px;
    width: 30px;
}